@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700');

body {
  font-size: 14px;
  font-family: 'Work Sans', sans-serif;
}
body * {
  font-family: 'Work Sans', sans-serif;
}
header.ui.basic.segment {
  padding: 15px 30px 10px;
}
p {
  font-size: 16px;
  opacity: .6;
}
a {
  color: #0089F6;
}
a.selected-link {
  color: #333;
  text-decoration: underline;
}
h1 {
  font-size: 48px;
  font-weight: 700;
}
h2 {
  font-weight: 400;
  font-size: 36px;
  color: #444;
}
h3 {
  font-size: 16px;
  font-weight: 500;
}
h4 {
  font-size: 18px;
  font-weight: 400;
}
h6 {
  font-size: 24px;
  padding: 20px;
  margin: 0;
  font-weight: 400;
}
small.footnote {
  font-size: 12px;
  line-height: 1.4;
  color: #999;
}
small.footnote a {
  color: #333;
  text-decoration: underline;
}
.hero h1 {
  text-shadow: 0 2px 9px rgba(0,0,0,0.30);
    padding-top: 100px;
}
.hero p {
  margin-top: -10px;
  margin-bottom: 40px;
}
.hero {
  background: url('../img/hero.jpg');
  background-size: cover;
  color: white;
  padding-bottom: 140px;
}
.homepage .ui.button {
  margin: 15px;
  min-width: 240px;
}
.homepage h2 {
  font-weight: 700;
}
.ui.evergreen.button {
  font-size: 15px;
  font-weight: 700;
  color: white;
  border-radius: 5px;
  padding: 15px 20px;
}
.ui.green.button {
  background: #7AC200;
  box-shadow: 0 2px 0 0 #6DAB03 !important;
  /* min-width: 200px; */
}
.ui.green.button.flat,
.ui.green.button.flat:hover,
.ui.orange.button.flat,
.ui.orange.button.flat:hover {
  box-shadow: none !important;
}
.ui.orange.button {
  background: #F6A623;
  box-shadow: 0 2px 0 0 #DE8C06 !important;
  /* min-width: 200px; */
}
.ui.orange.button:hover,
.ui.orange.buttons .button:hover {
  background: #e08c01;
  box-shadow: 0 2px 0 0 #b97300 !important;
}
.ui.green.button:hover,
.ui.green.buttons .button:hover {
  background-color: #649e02;
  box-shadow: 0 2px 0 0 #436903 !important;
}
.ui.big.uppercase.button,
.ui.big.uppercase.buttons .button,
.ui.big.uppercase.buttons .or {
  font-size: 14px;
  padding: 17px 20px 15px;
  text-transform: uppercase;
  font-weight: 700;
}
/* Menu exceptions */
header .ui.secondary.menu a.item {
  background: rgba(0,0,0,.6);
  color: white;
  font-size: 13px;
}
header .ui.secondary.menu a.item:hover {
  background: white !important;
  color: #333;
}

/* List exceptions */
.ui.features.list .item {
  padding-bottom: 25px;
}
.ui.features.list img {
  float: left;
}
.ui.features.list .content {
  float: none;
  margin-left: 70px;
  line-height: 1.5;
}
.ui.features.list .header {
  font-size: 24px;
  font-size: 24px;
  font-weight: 400;
  border-bottom: 0;
  padding-bottom: 0;
  padding-top: 20px;
}
.ui.features.list .description {
  font-size: 14px;
  color: #767676;
}

/* Column exceptions */
.ui[class*="one column"].grid>.column:not(.row), 
.ui[class*="one column"].grid>.row>.column {
  max-width: 400px;
  min-width: 60%;
}
.ui.padded.segment.notop {
  padding-top: 0;
}

/* Footer */
footer p {
  font-size: 13px !important;
  line-height: 1.6;
  font-weight: 400 !important
}
footer h4 {
  color: #7C7C7C;
  font-weight: 700;
  font-size: 13px;
  opacity: .5;
}
footer .ui.inverted.link.list .item,
footer .ui.inverted.link.list .item a:not(.ui),
footer .ui.inverted.link.list a.item {
  padding: .41428571em 0;
  font-size: 12px;
  font-weight: 400;
  color: white;
}
footer .ui.input input {
  background: #000;
}
footer address span {
  padding-bottom: 6px;
  display: block;
  font-style: normal;
}
footer .ui.icon.input>i.icon {
  color: #6FB048;
}
footer .social-row {
  padding-top: 25px;
}
footer .social-row a {
  margin-right: 5px;
  display: inline-block;
}

/* User Access */
.useraccess h2 {
  font-size: 30px;
  font-weight: 400;
}
.useraccess .maker h2 {
  color: white;
}
.useraccess .supplier {
  background: url(../img/supplier-bg.jpg) 50%;
  background-size: cover;
}
.useraccess .maker {
  background: url(../img/maker-bg.jpg) 50%;
  background-size: cover;
}
.column.form.computer {
  max-width: 440px;
}
.ui.form input:not([type]),
.ui.form input[type=text],
.ui.form input[type=email],
.ui.form input[type=search],
.ui.form input[type=password],
.ui.form input[type=date],
.ui.form input[type=datetime-local],
.ui.form input[type=tel],
.ui.form input[type=time],
.ui.form input[type=file],
.ui.form input[type=url],
.ui.form input[type=number] {
  background: #fff;
  border: 1px solid #CDCDCD;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.10);
  border-radius: 4px;
  font-size: 15px;
  padding: 13px 20px;
}
.useraccess .maker .ui.form input:not([type]),
.useraccess .maker .ui.form input[type=text],
.useraccess .maker .ui.form input[type=email],
.useraccess .maker .ui.form input[type=search],
.useraccess .maker .ui.form input[type=password],
.useraccess .maker .ui.form input[type=date],
.useraccess .maker .ui.form input[type=datetime-local],
.useraccess .maker .ui.form input[type=tel],
.useraccess .maker .ui.form input[type=time],
.useraccess .maker .ui.form input[type=file],
.useraccess .maker .ui.form input[type=url],
.useraccess .maker .ui.form input[type=number] {
  border: 0;
}
.useraccess small {
  font-size: 11px;
}
.useraccess .supplier a {
  color: #7AC200;
}
.useraccess .maker a {
  color: #f5a623;
}
.useraccess .basic.button {
  margin-top: 10px;
  font-weight: 700;
}
.useraccess .basic.button img {
  vertical-align: middle;
  margin-right: 10px;
}
.useraccess #greenwrapper,
.useraccess .ui.grid.tall {
  min-height: 100%;
  margin: 0;
}
.useraccess .maker.form {
  color: white;
}
.useraccess .maker.form .basic.button {
  color: white !important;
  box-shadow: 0 0 0 1px #fff inset!important;
}

/* Login styles */
.login {
  background: url(../img/whitetower.jpg) 50%;
  background-size: cover;
}
.login header .ui.secondary.menu a.item {
  background: rgba(0,0,0, .2);
}
.login header .ui.secondary.menu a.item:hover {
  background: rgba(0,0,0, .3) !important;
  color: white !important;
}
.login > .grid {
  height: 100%;
}
.login .column {
  width: 340px !important;
}
.login.success .column {
  width: 100% !important;
}
.login.success .column .ui.button {
  width: 280px;
  margin-top: 20px;
}
.login.success h2 {
  font-weight: 700;
}
.login p {
  opacity: .7;
}
.login h2 + p {
  opacity: .4;
}
.screen.mid {
  top: 50%;
  left: 50%;
  transform: translate(-45%, -50%);
  position: fixed;
}
.field.link {
  text-align: right;
  padding: 5px 0 10px;
  font-size: 12px;
}
.login footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 20px;
}
.login .back {
  color: #333;
  font-size: 13px;
}

/* Logged in user */
.ui.horizontal.list.company.trigger img {
  float: right;
  margin-right: 0;
  margin-left: 10px;
}
.ui.horizontal.list.company.trigger .content {
  font-size: 11px;
  color: #999;
  text-align: right;
}
.ui.horizontal.list.company.trigger .content .header {
  font-size: 14px;
  padding-bottom: 3px;
}

/* Category selector */
.ui.inline.segment {
  display: inline-block !important;
  width: auto !important;
  box-shadow: none;
}
.ui.fitted.boxed.checkbox {
  margin: 10px;
}
.ui.fitted.boxed.checkbox .box,
.ui.fitted.boxed.checkbox label {
  padding-left: 47px !important;
  padding: 18px;
  cursor: pointer;
  border: 1px solid #D4D4D4;
  border-radius: 5px;
  color: #a1a1a1;
}
.ui.fitted.boxed.checkbox label:before {
  top: 17px;
  left: 16px;
}
.ui.fitted.boxed.checkbox label:after {
  font-size: 12px;
  top: 18px;
  left: 16px;
}
.ui.fitted.boxed.checkbox input[type="checkbox"]:checked + label {
  border-color: #7ac200 !important;
  color: #333 !important;
}
.ui.fitted.boxed.checkbox input[type="checkbox"]:checked + label:before,
.ui.checkbox input:checked~.box:before,
.ui.checkbox input:checked~label:before,
.ui.checkbox input:checked:focus~.box:before,
.ui.checkbox input:checked:focus~label:before,
.ui.checkbox input:not([type=radio]):indeterminate:focus~.box:before,
.ui.checkbox input:not([type=radio]):indeterminate:focus~label:before {
  background: #7ac200;
  border-color: #7ac200;
}
.ui.fitted.boxed.checkbox input[type="checkbox"]:checked + label:after,
.ui.checkbox input:checked~.box:after,
.ui.checkbox input:checked~label:after,
.ui.checkbox input:checked:focus~.box:after,
.ui.checkbox input:checked:focus~label:after,
.ui.checkbox input:not([type=radio]):indeterminate:focus~.box:after,
.ui.checkbox input:not([type=radio]):indeterminate:focus~label:after {
  color: white;
  font-size: 12px;
}
.ui.checkbox input:checked~.box:after,
.ui.checkbox input:checked~label:after {
  top: 1px;
}
.categoryselector.ui.multiple.dropdown {
  padding: 11px 15px 9px;
  border-radius: 5px;
  border-color: #d4d4d4;
  color: #a1a1a1;
  min-width: 260px;
  vertical-align: middle;
}
.categoryselector.ui.multiple.search.dropdown>.text {
  font-size: 15px;
}
.categoryselector.ui.multiple.dropdown > .dropdown.icon {
  top: 20px;
  right: 18px;
}
.ui.selection.active.dropdown,
.ui.selection.active.dropdown .menu {
  border-color: #7ac200 !important;
}
.categoryselector.ui.multiple.dropdown>.label {
  background: #eee;
  font-size: 14px;
  font-weight: 400;
  box-shadow: none !important;
}
/* List styles */
.light header.ui.basic.segment {
  background: url(../img/light-header.jpg) 50%;
  background-size: cover;
}
header.darker.ui.basic.segment {
  background: url(../img/dark-header.jpg) 50%;
  background-size: cover;
}
header.darker.ui.basic.segment .ui.horizontal.list.company.trigger .content .header {
  color: white;
}
.wall {
  background: #f8f8f8 !important;
  border-radius: 5px;
  margin-bottom: 30px;
}
.wall h3 {
  padding-bottom: 10px;
}
.list h2 {
  padding: 15px 0;
}
.ui.filters.form .ui.checkbox {
  display: block;
  padding: 0 0 12px;
}
.ui.checkbox label,
.ui.checkbox+label {
  color: rgba(0,0,0,.57);
  cursor: pointer;
}
.wall .middle.aligned.list .item {
  padding: 0 0 15px;
}
.wall .middle.aligned.list .content.label {
  font-size: 13px;
  padding: 0 0 12px;
}
.catcol {
  /* max-width: 320px; */
  margin-bottom: 30px;
}
/* Resulted List */
.ui.resulted.items {
  
}
.ui.resulted.items .ui.small.calendar {
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  padding: 20px 15px;
  margin-right: 20px;
  color: #999;
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  text-align: center;
  margin-top: 2px;
}
.ui.resulted.items .ui.button,
.item-cards .ui.button {
  font-size: 14px;
  text-transform: uppercase;
  width: auto;
  min-width: 100px;
  padding: 13px 20px 11px;
}
.ui.resulted.items .extra {
  width: auto;
  text-align: right;
  flex-shrink: 0;
  margin-top: 0;
}
.ui.resulted.items .extra.flex {
  width: auto;
  text-align: right;
  flex-shrink: 0;
  margin-top: 0;
  display: flex;
  align-items: center;
}

.ui.resulted.items .extra small {
  display: block;
  color: #333;
  padding: 5px 10px;

}
.ui.resulted.items p {
  font-size: 14px;
}
.ui.resulted.items .item .content .header {
  padding-top: 10px;
  font-size: 16px;
  color: #444;
  font-weight: 500;
}
.ui.resulted.items .item {
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}
.ui.resulted.items .item:before {
  content: '';
  height: 1px;
  background: #ddd;
  position: absolute;
  bottom: 0;
  left: 100px;
  right: 0;
}
.list.count {
  padding: 20px 0 10px;
}
.ui.pagination.menu {
  margin-bottom: 20px;
  float: right;
  box-shadow: none;
}
.ui.pagination.secondary.menu .active.item {
  border: 1px solid #7ac200;
  color: #7ac200;
  background: white;
  padding: 8px 10px 8px 7px;
  text-align: center;
  justify-content: center;
}
.maker .ui.pagination.secondary.menu .active.item {
  border: 1px solid #f5a623;
  color: #f5a623;
  font-weight: 700;
}
.ui.pagination.secondary.menu .item {
  border: 1px solid #dbdbdb;
  background: white;
  color: #a1a1a1;
  border-radius: 4px !important;
  text-align: center;
  padding: 8px 10px 8px 7px;
  justify-content: center;
}
.ui.pagination.secondary.menu .disabled.item {
  border-color: white;
}
.box {
  padding-bottom: 40px;
}
.single-slide .ui.cards {
  margin: -5px;
}
.single-slide .ui.card>.content, 
.single-slide .ui.cards>.card>.content {
  padding: 0;
}
.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 4px;
  padding: 4px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: #d7d7d7;
  border-radius: 3px;
}
.slick-dots li.slick-active button {
  background: #73c500;
}
.slick-next,
.slick-prev {
  display: none !important;
}
.details h2 {
  padding: 30px 0;
  max-width: 70%;
}
.details h3 {
  padding-bottom: 20px;
  margin-bottom: 0;
  padding: 10px 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
}
.details p {
  font-size: 14px;
}
.minimap {
  width: 100%;
  height: 300px;
}
.details .ui.card,
.details .ui.cards>.card {
  box-shadow: none;
}
.details .ui.segment,
.profile .ui.segment {
  border: 0;
}
.buybox {
  max-width: 320px;
}
.buybox h3 {
  font-size: 18px;
  text-transform: capitalize;
  padding: 0 0 15px;
  margin: 0;
}
.buybox .ui.orange.button {
  font-size: 14px;
  margin-top: 20px;
  min-width: 100px;
}
.container.divided {
  border-left: 1px solid #dfdfdf;
}
.offer.form input {
  
}
.offer.form {
  margin-bottom: 50px;
  padding-left: 0px;
}
.offer.form.nopadd {
  padding-bottom: 0;
}
.offer.form .field {
  padding-bottom: 10px;
  max-width: 400px;
}
.offer.form .second {
  padding-left: 30px;
}
.offer.form .second .field .ui.input input,
.offer.form .second .fields .field .ui.input input {
  width: 110px;
}
.offer.form .second .ui.labeled.input>.label {
  font-weight: 400;
}
.offer.form .field > label {
  white-space: nowrap;
  font-weight: 500;
  font-size: 15px;
  padding-bottom: 5px;
}
.ui.offer.form input,
.ui.offer.form .ui.selection.dropdown {
  box-shadow: none;
  border-color: #c6cfd9;
  font-size: 16px;
  padding: 13px 17px;
}
.summary .column label {
  font-weight: 700;
  font-size: 12px;
}
.summary .column a {
  
}
.thumbnails .item {
  border: 1px solid transparent;
  display: inline-block;
  margin-bottom: 10px;
  cursor: pointer;
}
.thumbnails .active.item {
  border: 1px solid black;
}
.paper {
  border: 2px solid black;
}
.ui.segment.nda-box {
  max-width: 380px;
  margin: 1rem auto;
}
.ui.segment.nda-box p {
  padding-bottom: 15px;
}
/* Modal */
.ui.small.modal .footnote {
  display: block;
  padding: 15px 0 0;
  text-align: left;
}
.ui.modal>.actions {
  padding: 1.5rem;
}
.ui.modal > .header:not(.ui) {
  font-size: 24px !important;
  font-weight: 400;
  border-bottom: 0;
}
.ui.modal .header h6 {
  padding-top: 0;
  padding-left: 0;
  font-weight: 300;
  font-size: 32px;
}
.ui.modal.centered.aligned {
  text-align: center;
}
.ui.tiny.modal .ui.padded.segment {
  padding: 0 1.5em 1.5rem;
}
.ui.tiny.modal .actions {
  background: none;
  border: 0;
  padding-top: 0;
}
.ui.tiny.modal .actions .button {
  margin: 15px 0 0;
}
.ui.dimmer {
  background-color: rgba(0,0,0,.90);
}
/* Navigation steps */
.steps-nav {
  padding: 20px 0;
}
.steps-nav .ui.secondary.pointing.menu .item {
  border: 0;
  position: relative;
  font-size: 18px;
  color: #999;
  font-weight: 500;
}
.steps-nav .ui.secondary.pointing.menu .item:after {
  content: '';
  height: 2px;
  visibility: visible;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: auto;
  transform: none;
  margin: 0;
  border: 0;
  padding: 0;
  width: 0;
  transition: width 0.5s linear;
}
.steps-nav .ui.secondary.pointing.menu .active.item:after,
.steps-nav .ui.secondary.pointing.menu .completed.item:after {
  background: #7ac200;
  width: 100%;
}
.steps-nav .ui.secondary.pointing.menu .item .label {
  margin-right: 10px;
  font-size: 16px;
  font-weight: 500;
}
.steps-nav .ui.secondary.pointing.menu .active.item,
.steps-nav .ui.secondary.pointing.menu .completed.item {
  color: #75c500;
}
.steps-nav .ui.secondary.pointing.menu .item .label {
  margin-left: 0;
}
.steps-nav .ui.secondary.pointing.menu .active.item .label,
.steps-nav .ui.secondary.pointing.menu .completed.item .label {
  background: #75c500;
}
.add-request .ui.fitted.boxed.checkbox {
  margin-left: 0;
  margin-right: 15px;
}
.add-request h2 {
  padding-top: 20px;
}
.custom.popup {
  max-width: 150px !important;
}
.small.links {
  display: inline-block;
}
.small.links a {
  font-size: 14px;
  color: #999;
  margin: 0;
  display: inline-block;
}
.help.circle.outline.icon {
  color: #0089f6;
}
.toppad {
  padding-top: 15px;
}
.noptoppadd {
  margin-top: 0 !important;
  padding-top: 0 !important;
  margin-bottom: -20px !important;
  border: 0 !important;
}
.large-label label {
  font-size: 16px !important;
}
.large-label label small {
  display: block;
  padding-top: 5px;
  font-size: 13px;
}
/* Divider */
.pair .ui.grid > .column + .divider,
.pair .ui.grid > .row > .column + .divider {
  left: 50%;
}
.plus {
  border: 1px solid #7ac200;
  font-size: 24px;
  font-weight: 500;
  border-radius: 4px;
  text-align: center;
  width: 50px;
  height: 50px;
  color: #7ac200;
  line-height: 49px;
}
.add-request .ui.items>.item>.image+.content {
  padding-left: 0;
}

/* User Area */
.ui.red.label,
.ui.red.labels .label {
  background-color: #ee4e4e !important;
  border-color: #ee4e4e !important;
  color: #FFF !important;
}

.summary .column {
  font-weight: 500;
  font-size: 13px;
}
.summary .column.larger {
  font-size: 18px;
  font-weight: 700;
  margin-top: 10px !important;
}
/* Media Queries */
@media only screen and (min-width: 1200px) {
  .ui.tiny.modal {
    width: 370px;
    margin: 0 0 0 -185px;
  }
}
@media only screen and (min-width: 992px) {
  .ui.tiny.modal {
    width: 370px;
    margin: 0 0 0 -185px;
  }
}
@media only screen and (min-width: 768px) {
  .ui.tiny.modal {
    width: 370px;
    margin: 0 0 0 -185px;
  }
}